a {
  text-decoration: none;
  color: #3a523e;
}

a:hover {
  color: black;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #dde1e7;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.upload-input {
  display: none;
}

.upload-label {
  cursor: pointer;
  font-size: 1.3rem;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 15rem;
  text-align: center;
}

.upload-btn {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 15rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.progress {
  width: 30%;
}

.uploaded {
  font-size: 1.1rem;
  color: green;
  font-weight: 700;
}

.delete-container {
  display: flex;
  gap: 2rem;
}

.delete-btn {
  border-radius: 0.5rem;
  padding-inline: 1rem;
}


.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18.75rem;
  padding: 6% 4%;
  background-color: #dde1e7;
}

.menu-btn {
  position: absolute;
  display: none;
  flex-direction: column;
  height: 1.67rem;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
}

.first-stripe,
.second-stripe,
.third-stripe {
  position: absolute;
  height: 0.25rem;
  width: 2rem;
  right: 10px;
  background-color: #3a523e;
  transition: all 1s ease-in-out;
}

.first-stripe {
  top: 0;
}

.second-stripe {
  top: 0.7rem;
}

.third-stripe {
  bottom: 0;
}

.close-first {
  transform: rotate(45deg);
  transform-origin: left;
}

.close-second {
  opacity: 0;
}

.close-third {
  transform: rotate(-45deg);
  transform-origin: left;
}

.mobile-menu {
  position: fixed;
  right: -100%;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 1.4rem;
  background-color: #dde1e7;
  width: 100%;
  height: 40vh;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.links-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-size: 1.4rem;
  top: 38%;
  left: 10%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-image {
  width: 62.5rem;
}

.position-title {
  margin: 0;
  margin-top: -2rem;
  font-size: 1.7rem;
}

.media-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 20%;
  top: 35%;
  right: 10%;
}

.artstation-btn {
  display: flex;
}

.artstation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #dde1e7;
  color: #3a523e;
  text-align: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.image-container {
  display: inline-block;
  height: 20rem;
  text-align: center;
  margin-top: 1rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 2rem;
}

.artwork-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
}

.image-container:hover {
  opacity: 0.7;
}

.category-title {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.contact-main-container {
  text-align: center;
}

.contact-title {
  font-size: 1.4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 20%;
}

.textarea {
  height: 12rem;
}

.contact-btn {
  border: none;
}

.about-me {
  width: 50%;
  margin: auto;
  text-align: center;
}

.slider-main-container {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.slider-container {
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
}

.slider-close {
  position: absolute;
  border: none;
}

.next-slide,
.prev-slide {
  border: none;
  position: absolute;
  top: 50%;
  height: 4rem;
}

.next-slide {
  right: 0;
}

.prev-slide {
  left: 0;
}

@media screen and (max-width: 1000px) {
  .header-main-container {
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .header {
    position: static;
    padding-inline: 0;
  }

  .menu-btn {
    display: flex;
  }

  .title-image {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }

  .position-title {
    font-size: 150%;
  }

  .links-container {
    display: none;
  }
  
  .media-container {
    display: none;
  }
}
