a {
  text-decoration: none;
  color: #3a523e;
}

a:hover {
  color: black;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #dde1e7;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.upload-input {
  display: none;
}

.upload-label {
  cursor: pointer;
  font-size: 1.3rem;
  border: 1px solid black;
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 15rem;
  text-align: center;
}

.upload-btn {
  padding: 0.5rem;
  font-size: 1.3rem;
  width: 15rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.progress {
  width: 30%;
}

.uploaded {
  font-size: 1.1rem;
  color: green;
  font-weight: 700;
}

.delete-container {
  display: flex;
  gap: 2rem;
}

.delete-btn {
  border-radius: 0.5rem;
  padding-inline: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #dde1e7;
  color: #3a523e;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 18.75rem;
  padding: 6% 4%;
  background-color: #dde1e7;
}

.links-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 20%;
  font-size: 1.4rem;
  top: 38%;
  left: 10%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-image {
  width: 62.5rem;
}

.position-title {
  margin: 0;
  margin-top: -2rem;
  font-size: 1.7rem;
}

.media-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 20%;
  top: 35%;
  right: 10%;
}

.artstation-btn {
  display: flex;
}

.artstation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 5rem;
  text-align: center;
  margin-top: 1rem;
}

.artwork-image {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
}

.artwork-image:hover {
  opacity: 0.7;
}

.the-falcon-lore {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  background-color: #fff;
  margin: 0;
  padding: 1rem;
  gap: 1rem;
}

.category-title {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.contact-main-container {
  text-align: center;
}

.contact-title {
  font-size: 1.4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.textarea {
  height: 12rem;
}

.contact-btn {
  border: none;
}

@media screen and (max-width: 1000px) {
  .title-image {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }

  .position-title {
    font-size: 150%;
  }

  .links-container {
    display: none;
  }
  
  .media-container {
    display: none;
  }
}
